body {
  font-family: "Roboto", sans-serif;
}

.headercss {
  width: 1440px;
  height: 72px;
  background-color: #ffffff;
  border: 1px;
}
.logocss {
  width: 115px;
  height: 24px;
}
.weblogocss {
  width: 44px;
  height: 21px;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.studiologocss {
  width: 71px;
  height: 21px;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.menucss {
  text-align: center;
  width: 261px;
  height: 24px;
}
.menustudiocss {
  font-size: 16px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
  width: 48px;
  height: 24px;
}

.menustudiocss :hover {
  font-size: 16px;
  color: #ff0077;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
  width: 48px;
  height: 24px;
}

.menuportfoliocss {
  font-size: 16px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
  width: 66px;
  height: 24px;
}

.menuportfoliocss :hover {
  font-size: 16px;
  color: #ff0077;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
  width: 66px;
  height: 24px;
}

.menucontactscss {
  font-size: 16px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
  width: 67px;
  height: 24px;
}

.menucontactscss :hover{
  font-size: 16px;
  color: #ff0077;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
  width: 67px;
  height: 24px;
}

/*.addresscss {
  width: 310px;
  height: 24px;
}*/

.addresscssmail {
  width: 153px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: regular;
  color: #434455;
  text-decoration: none;
}

.addresscssmail  :hover {
  width: 153px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: regular;
  color: #ff0077;
  text-decoration: none;
}

.addresscsstel {
  width: 151px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: regular;
  color: #434455;
  text-decoration: none;
}

.addresscsstel :hover{
  width: 151px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: regular;
  color: #ff0077;
  text-decoration: none;
}

.bannercss {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}

.h1css {
  width: 496px;
  height: 120px;
}

.header1css {
  color: white;
  text-align: center;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1;
}

.btncss {
  margin-left: 630px;
  padding: 200px 32px 16px 32px;
}

.buttoncss {
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: white;
  font-size: 16px;
  border-inline: 15px solid #4d5ae5;
  cursor: pointer;
}

.buttoncss :hover {
  width: 169px;
  height: 56px;
  background-color: #ff009d;
  color: white;
  font-size: 16px;
  border-inline: 15px solid #ff009d;
  cursor: pointer;
}

.subjectscss {
  width: 1128px;
  height: 104px;
}

.strategycss {
  width: 264px;
  height: 104px;
}

.punctualitycss {
  width: 264px;
  height: 104px;
}

.diligencecss {
  width: 264px;
  height: 104px;
}

.technologiescss {
  width: 264px;
  height: 104px;
}

.contentcss {
 
  font-style: Regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contentheaders {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.ourteamcss {
  width: 1440px;
  height: 732px;
  background-color: #f4f4fd;
}

/*.ourteamhdcss {
  margin-left: 639px;
}*/

.ourteamheader {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.markguerrerocss {
  width: 264px;
  height: 380px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
}

.tomfordcss {
  width: 264px;
  height: 380px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
}

.camilagarciacss {
  width: 264px;
  height: 380px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
}

.danielwilsoncss {
  width: 264px;
  height: 380px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
}

.infocss {
  width: 232px;
  height: 56px;
}

.namecss {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.titlecss {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio {
  width: 1128px;
  height: 1000px;
  border: 1px solid #e7e9fc;
}

.ourportfoliocss {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfoliobgcss {
  width: 360px;
  height: 420px;
  border: 1px #e7e9fc;
}

.portfoliofontcss {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.apptitlecss {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-img {
  width: 360px;
  height: 300px;
}

.footerbgcss {
  width: 1440px;
  height: 312px;
  background-color: #2e2f42;
}

.footerinfocss {
  width: 264px;
  height: 112px;
}

.footerinfofontcss {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footerlogocss {
  width: 115px;
  height: 24px;
}
.footerstudiologocss {
  width: 71px;
  height: 21px;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
}
